.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 
}
.dialogsItems .active {
    color: gold;
    
}

.messages {
    padding: 10px;
}